<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ijoy.common.mapper.CityMapper">
	
	
     <select id="queryRows" parameterType="CityQuery"  resultType="City">
        select *
         	from (select a.*,rownum rnum
         	from (select * 
         	from city 
         	<include refid="querySql"/>
         	order by id,rowid)a
         	where <![CDATA[ rownum <  #{endNum}]]>)
         	where rnum>=#{startNum}
   </select>
   <select id="queryTotalCount" parameterType="CityQuery"  resultType="long">
   		 select  count(id) from city
	   	    <include refid="querySql"></include>
   </select>
 <sql id="querySql">
 		<where>
 			<if test="level !=null">
				and p_level=#{level}
			</if>
			<if test="conditionStr=='pinyin_not_null'">
			   and pinyin is not null
			</if>
 		</where>
 </sql>

</mapper>
