<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ijoy.gh.mapper.DictionaryMapper">
	<resultMap id="dictionaryResult" type="Dictionary">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="type" property="type" />
	</resultMap>

<select id="queryRows" parameterType="DictionaryQuery" resultMap="dictionaryResult">
	
		  select *
         	from (select a.*,rownum rnum
         	from (select * 
         	from dictionary 
         	<include refid="querySql"/>
          )a
         	where <![CDATA[ rownum <  #{endNum}]]>)
         	where rnum>=#{startNum}
	</select>

	<select id="queryTotalCount" parameterType="DictionaryQuery" resultType="long">
		SELECT count(d.id) FROM dictionary  d
		<include refid="querySql"></include>
	
	</select>


	<sql id="querySql">		
	<where>
			<if test="type!=null">
				and type like '%' || #{type} || '%'
			</if>
		</where>
	</sql>




</mapper>
