<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.ijoy.plat.mapper.ApplicationMapper">
	<resultMap type="Application"  id="applicationResult">
		<id  column="id"  property="id"/>
		<result column="name"  property="name"/>
		 <result column="brief" property="brief" />
    <result column="starttime" property="starttime"  />
    <result column="endtime" property="endtime"  />
    <result column="state" property="state" />
    <result column="docpath" property="docpath" />
	</resultMap>

 <!-- 获得全查询列表 -->
  <select id="getAll" resultMap="applicationResult">
    select * from Application 
  </select>
  
  
  <!-- 根据id获得用户对象 -->
    <select id="get" resultMap="applicationResult" >
     select * from Application where id=#{id}
  </select> 
  
   <!-- 新增用户对象 -->
   <insert id="insert" parameterType="Application">
      insert into Application (id,name,brief,starttime,endtime,state,docpath,url) values (application_seq.nextval,#{name},#{brief},#{starttime},#{endtime},#{state},#{docpath},#{url})
   </insert>
   
   <!-- 删除用户对象 -->
   <delete id="delete"  parameterType="long">
     delete from Application where id=#{id}
   </delete>
   
   <!-- 更新用户对象 -->
   <update id="update" parameterType="Application">
      update Application set name=#{name},brief=#{brief},starttime=#{starttime},endtime=#{endtime},state=#{state},docpath=#{docpath},url=#{url} where id=#{id}
   </update>
   
   <!-- 只对应用表进行查找 -->
   
   <select id="queryRows" parameterType="ApplicationQuery"  resultMap="applicationResult">
        select *
         	from (select a.*,rownum rnum
         	from (select * 
         	from application 
         	<include refid="querySql"/>
         	order by id,rowid)a
         	where <![CDATA[ rownum <  #{endNum}]]>)
         	where rnum>=#{startNum}
   </select>
   <select id="queryTotalCount" parameterType="ApplicationQuery"  resultType="long">
   		 select  count(id) from application
	   	    <include refid="querySql"></include>
   </select>
 <sql id="querySql">
 		<where>
 			<if test="name!=null">
 				and name like '%' || #{name} || '%'
 			</if>
 		</where>
 </sql>
		
		<!-- 对应用表和用户表及中间表  2表进行联合查找 -->
   
   <select id="queryApplicationJoinEmployeeRows" parameterType="ApplicationQuery"  resultMap="applicationResult">
         select *
         	from (select a.*,rownum rnum
         	from (select b.* 
         	from application  b 
         	left join employee_application e_a
         	on e_a.application_id=b.id
         	<include refid="queryApplicationJoinEmployeeSql"/>
         	order by b.id)a
         	where <![CDATA[ rownum <  #{endNum}]]>)
         	where rnum>=#{startNum} 

         	
   </select>
   <select id="queryApplicationJoinEmployeeTotalCount" parameterType="ApplicationQuery"  resultType="long">
   	 select  count(b.id) from APPLICATION  b
   		 	left join EMPLOYEE_APPLICATION e_a
         	on e_a.APPLICATION_ID=b.id
	   	    <include refid="queryApplicationJoinEmployeeSql"></include>
   </select>
 <sql id="queryApplicationJoinEmployeeSql">
 		<where>
 			<if test="name!=null">
 				and b.name like '%' || #{name} || '%'
 			</if>
 			<if test="employee_id!=null">
 				and e_a.employee_id=#{employee_id}
 			</if>
 			<if test="notEmployee_id!=null">
 				and (e_a.employee_id is  null or e_a.employee_id != #{notEmployee_id})
 			</if>
 		</where>
 </sql>
		
		

</mapper>
