<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.ijoy.plat.mapper.SysloginfoMapper">
		<resultMap type="Sysloginfo" id="sysloginfoResult">
			<id column="id" property="id"/>
			<result column="type" property="type" />
    <result column="content" property="content" />
    <result column="lastLoginTime" property="lastLoginTime"  />
    <result column="lastExitTime" property="lastExitTime" />
    <result column="currentLoginTime" property="currentLoginTime"  />
    <result column="currentExitTime" property="currentExitTime" />
    <result column="ip" property="ip"  />
</resultMap>

	  <!-- 获得全查询列表 -->
  <select id="getAll" resultMap="sysloginfoResult">
    select * from Sysloginfo
  </select>
  
  
  <!-- 根据id获得用户对象 -->
    <select id="get" resultMap="sysloginfoResult"  parameterType="long">
     select * from Sysloginfo where id=#{id}
  </select> 
  
   <!-- 新增用户对象 -->
   <insert id="insert"  parameterType="Sysloginfo">
      insert into Sysloginfo (id,content) values (sysloginfo_seq.nextval,#{content})
   </insert>
   
   <!-- 删除用户对象 -->
   <delete id="delete">
     delete from Sysloginfo where id=#{v}
   </delete>
   
   <!-- 更新用户对象 -->
   <update id="update" parameterType="Sysloginfo">
      update Sysloginfo set content=#{content},type=#{type},lastLoginTime=#{lastLoginTime}, 
      lastExitTime=#{lastExitTime}, currentLoginTime=#{currentLoginTime}, currentExitTime=#{currentExitTime}, 
      ip=#{ip}
      where id=#{id}
   </update>
   <select id="queryRows"  parameterType="SysloginfoQuery"  resultMap="sysloginfoResult">
          select *
         	from (select a.*,rownum rnum
         	from (select * 
         	from sysloginfo 
         	<include refid="querySql"/>
         	order by id,rowid)a
         	where <![CDATA[ rownum <  #{endNum}]]>)
         	where rnum>=#{startNum}
   </select>
   <select id="queryTotalCount"   parameterType="SysloginfoQuery"  resultType="long">
   		 select count(id) from sysloginfo
   		 <include refid="querySql"></include>
   </select>
   	<sql id="querySql">
   		<where>
   			<if test="content!=null">
   				and content like '%' || #{content} || '%'
   			</if>
   		</where>
   	</sql>
   
</mapper>

