<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ijoy.plat.mapper.TaskItemMapper">
	<resultMap type="TaskItem" id="taskItemResult">
		<id column="id"  property="id"/>
	<result column="itemCycle" property="itemCycle"/>
    <result column="itemtype" property="itemtype" />
    <result column="itemdescribe" property="itemdescribe"  />
    <result column="department" property="department" />
    <result column="state" property="state" />
    <association property="employee"  javaType="PlatEmployee" column="employee_id"  select="com.ijoy.plat.mapper.PlatEmployeeMapper.get"></association>
	</resultMap>
  <!-- getTaskItemListByTaskId -->
   <select id="getTaskItemListByTaskId" resultMap="taskItemResult" >
    select t.id,t.itemCycle,t.itemtype,t.itemdescribe,t.department,t.state,t.employee_id from TaskItem t where t.task_id=#{id}
  </select>
  <!-- 获得全查询列表 -->
  <select id="getAll" resultMap="taskItemResult">
    select t.id,t.itemCycle,t.itemtype,t.itemdescribe,t.department,t.state,t.employee_id from TaskItem t
  </select>
  
  
  <!-- 根据id获得用户对象 -->
    <select id="get" resultMap="taskItemResult" >
     select t.id,t.itemCycle,t.itemtype,t.itemdescribe,t.department,t.state,t.employee_id from TaskItem t where t.id=#{id}
  </select> 
   <!-- 新增用户对象 -->
   <insert id="insert"   parameterType="TaskItem">
      insert into TaskItem (id,task_id,itemCycle,itemtype,itemdescribe,department,state,employee_id)
       values (taskitem_seq.nextval,#{task_id},#{itemCycle},#{itemtype},#{itemdescribe},#{department},#{state},#{employee.id})
   </insert>
   
   <!-- 删除用户对象 -->
   <delete id="delete">
     delete from TaskItem where id=#{id}
   </delete>
   
   <!-- 更新用户对象 -->
   <update id="update" parameterType="TaskItem">
      update TaskItem set
       itemCycle=#{itemCycle},itemtype=#{itemtype},itemdescribe=#{itemdescribe},department=#{department},state=#{state},employee_id=#{employee.id}
       where id=#{id}
   </update>
   <select id="queryRows"  parameterType="TaskItemQuery" resultMap="taskItemResult">
         select *
         	from (select a.*,rownum rnum
         	from (select * 
         	from taskItem 
         	<include refid="querySql"/>
         	order by id,rowid)a
         	where <![CDATA[ rownum <  #{endNum}]]>)
         	where rnum>=#{startNum}
   </select>
   <select id="queryTotalCount"  parameterType="TaskItemQuery"  resultType="long">
   		 select count(id) from taskItem 
           <include refid="querySql"></include>
   </select>
   <sql id="querySql">
   	<where>
   		<if test="name!=null">
   			and name like '%' || #{name} || '%'
   		</if>
   		<if test="employee_id!=null">
   			and employee_id=#{employee_id}
   		</if>
   	</where>
   </sql>
   
</mapper>
         