<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ijoy.plat.mapper.TaskMapper">
  		<resultMap type="Task" id="taskResult">
  			<id column="id"  property="id"/>
  			<result column="name" property="name" />
		    <result column="month" property="month"/>
		    <result column="taskcycle" property="taskcycle"/>
		    <result column="describe" property="describe"  />
		    <result column="type" property="type" />
		    <result column="state" property="state" />
		    <result column="starttime" property="starttime" />
		    <result column="endtime" property="endtime" />
		    <association property="employee" column="employee_id" javaType="Employee"  select="com.ijoy.plat.mapper.EmployeeMapper.get"></association>
		    <association property="taskItems"  column="id"  javaType="list" select="com.ijoy.plat.mapper.TaskItemMapper.getTaskItemListByTaskId"></association>
  		</resultMap>
         <!-- 获得全查询列表 -->
  <select id="getAll" resultMap="taskResult">
    select t.id,t.name,t.month,t.taskcycle,t.describe,t.type,t.state,t.starttime,t.endtime,t.employee_id from Task t
  </select>
  
  
  <!-- 根据id获得用户对象 -->
    <select id="get" resultMap="taskResult" >
     select t.id,t.name,t.month,t.taskcycle,t.describe,t.type,t.state,t.starttime,t.endtime,t.employee_id from Task t where t.id=#{id}
  </select> 
  
   <!-- 新增用户对象 -->
   <insert id="insert"  parameterType="Task">
      insert into Task (name,month,taskcycle,describe,type,state,starttime,endtime,employee_id) values (#{name},#{month},#{taskcycle},#{describe},#{type},#{state},#{starttime},#{endtime},#{employee.id})
   </insert>
   
   <!-- 删除用户对象 -->
   <delete id="delete">
     delete from Task where id=#{id}
   </delete>
   
   <!-- 更新用户对象 -->
   <update id="update"  parameterType="Task">
      update Task set name=#{name},month=#{month},taskcycle=#{taskcycle},describe=#{describe},type=#{type},state=#{state},starttime=#{starttime},endtime=#{endtime},employee_id=#{employee.id} where id=#{id}
   </update>
   <select id="queryRows"   parameterType="TaskQuery" resultMap="taskResult">
         select *
         	from (select a.*,rownum rnum
         	from (select * 
         	from task 
         	<include refid="querySql"/>
         	order by id,rowid)a
         	where <![CDATA[ rownum <  #{endNum}]]>)
         	where rnum>=#{startNum}
   </select>
   
   <select id="queryTotalCount"   parameterType="TaskQuery"  resultType="long">
   		 select count(id) from task
          <include refid="querySql"></include>
   </select>
   
   <sql id="querySql">
   	<where>
   		<if test="name!=null">
   			and name like CONCAT('%',#{name},'%')
   		</if>
   	
   	</where>
   
   </sql>
   
  </mapper>
  
